*{
    margin: 0;
    padding: 0;
}
nav{
    margin: 0 20px ;
    color:rgb(5, 166, 241);
    background-color: rgb(50, 50, 49);
    font-size: 1em;
     font-family: georgia;
}
body{
    background-color: rgb(50, 50, 49);
    position: relative;
    min-width: 100vh;
    padding-bottom: 80px;
  }
  h1{
     margin: 0 20px ;
     color:rgb(245, 246, 249);
     font-size: 3em;
     font-family: georgia;
     text-align: left;
     background-color: rgb(126, 248, 253);
 }
 a{
    margin: 0 20px ;
    font-size: 1.5em;
    color:rgb(214, 186, 62);
 }
 .navegable{
    width: 100%;                                       
    justify-content: left;
    background-color:rgb(50, 50, 49); 
 }
 h2{
     margin: 0 20px ;
     color:rgb(245, 246, 249);
     font-size: 3em;
     font-family:  georgia;
     text-align: left;
     background-color: rgb(6, 69, 125);
 }
 h3{
     margin: 20px;
     color:rgb(214, 186, 62);
     font-size: 2em;
     font-family: georgia;
     text-align: left;
     background-color:rgb(50, 50, 49); 
 
 }

 h4{
     margin: 20px;
     color:rgb(214, 186, 62);
     font-size: 1.5em;
     font-family:  georgia;
     text-align: left;
     background-color: rgb(50, 50, 49); 
 }
 p{
     margin: 20px;
     color:rgb(225, 224, 219);
     font-family:  georgia;
     text-align: left;
     background-color: rgb(50, 50, 49);  
 }
 ul{
    color:rgb(214, 186, 62) ;
}
.contColumnas{  
    
    width: 100%;  
    flex-direction: column;                                     
    justify-content: center; 
    column-gap: 50px ;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.columnas{
    width: 30%;
    margin: 20%;
    height: 300px;
    display: flex;
    text-align: center;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    flex-direction: column;
     overflow: auto;
     scroll-behavior: smooth;
     scrollbar-width: none;
     
     
  }
  
.columnas img{
    width: 30%;
    
    
}
 
.Contactos{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;

   }
 
 .contePrincipal{
    width: 100%;
    margin: 20px;
    display: flex;
 }
 
 input{
    font-family: georgia;
	width: 100%;
	box-sizing: border-box;
	padding: 8px,10px;
	box-shadow: rgb(20, 20, 19);
	background-color:rgba(81, 81, 71);
	border-radius: 5px;
	
}
.formula{
	background-color:transparent;
	padding: 10px,20px;
	max-width: 500px;
	margin: auto;
	box-shadow:rgb(50, 50, 49);
	margin-top: 50px;
	border-radius: 8px;
	font-size: 20px;
	margin-bottom: 40px;
}
fieldset{
	padding:  0 6px 10px 6px ;
	margin: 20px 0;
	border: 1px solid  rgb(214, 186, 62);
	border-radius: 8px;
}
legend{
	padding: 0 6px;
	color: rgb(214, 186, 62);

}
select{
	background-color:rgba(81, 81, 71, 0.995) ;
	margin: 20px;
	
}
textarea{
    background-color:rgba(81, 81, 71); 
    width:300px; height:50px;
}
.envia{
    margin: 20px;
    font-family:  georgia;
    color: rgb(214, 186, 62) ;
    background-color: rgba(81, 81, 71, 0.995);
    font-size: 20px;
    border-radius: 4px;
}
#listaMensajes{
    margin: 20px;
    font-family:  georgia;
    color: beige;
}
#listaErrores{
    margin: 20px;
    font-family:  georgia;
    color: rgb(253, 8, 8);
}
.error {
    background-color: rgb(206, 165, 165);
    border: 1px solid red;
   }


.pagina1 {
	margin: 20px;
	border-style: none;
	width:  20%;
	border-radius: 10px;
  }


img{ 
    width: 100%; 
    height: 100%;
}
.contCarrusel{
    width: 100%;
    background-color:  rgb(50, 50, 49); 
    position: center;
}
.contenedor{
    margin: 10% 20%;
    width: 60%;
    position: relative;
    height: 600px;
    box-shadow: 0 0 10px rgba(255, 255,255, .6);
} 

.botones{
font-size: 30px;
width: 70px;
height: 70px;
line-height: 70px;
border-radius: 50%;
background-color: rgba(0,0,0,.7);
text-align: center;
font-weight: bold;
position: absolute;
color: #fff;
box-shadow: 0 0 10px rgba(255, 255reen,255, .6);
-webkit-transition: all .3s ease;
-o-transition:all .3s ease;
transition: all .3s ease;

}
.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.atras{
    left: 2%;
    top: calc(50% - 70px);
}
.adelante{
    right: 2%;
    top: calc(50% - 70px); 
}
.cont1{
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
}
footer{
    color: #000;
    background-color: #1a1a18;
    color: rgb(233, 233, 211);
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
